* {
    font-family: Helvetica;
}

#leftLowerBlock, #leftUpperBlock{
    height: 400px;
    width: 70%;
    background-color: Snow;
}

#rightUpperBlock, #rightMiddleBlock {
    width: 30%;
    background-color: Steelblue;
    color: White;
}

#leftUpperBlock {
    text-align: center;
}

#leftLowerBlock {
    font-size: 150%;
}

#rightUpperBlock {
    height: 150px;
    text-align: center;

}

#rightMiddleBlock {
    height: 350px;
}

#rightLowerBlock {
    height: 300px;
    background-color: Snow;
    width: 30%;
    text-align: center;

}

#footer {
    background-color: steelblue;
    color: white;
    clear: both;
}

h2 {
    font-size: 250%;
}

img {
    padding: 4px;
}

#photo2{
    padding: 4px;
}
 #photo2:hover {
    border: solid 1px steelblue;
 }

 main {
    display: flex;
 }