body{
font-family: Helvetica, sans-serif;
}

#banner
{
background-color: rgb(70, 130, 180 );
color: white;
height: 30px;
text-align: center;
}

#main
{
background-color: rgb(176, 196, 222);
padding: 50px;
text-align: center;
}

#main img
{
padding: 3px;
border: dashed 1px;
border-color: blue;
border-radius: 10px;
}

#blockL
{
float: left;
background-color: rgb(70, 130, 180);
color: white;
height: 300px;
width: 80%;
}

#blockR 
{
float: left;
background-color: rgb(70, 130, 180);
color: white;
height: 300px;
width: 20%;
}

#photo
{
height: 40%;
width: 10%;
}

#footer
{
clear: both;
background-color: rgb(130, 190, 180 );
color: white;
height: 30px;
text-align: center;
}

#blockL img{
height: 40%;
}

#blockL img:hover{
border: 1px solid white
}
