body{
          text-align: center;
          color: white;
         
          font-size: 150%;
          margin:0;
}

#banner
{
          background-color: rgb(120, 0, 46);
          padding: 5px;
}

#menu
{
          text-align: left;
          background-color: rgb(173, 20, 87);
          display:flex;
}

#blockL
{
          text-align: left;
          background-color: snow;
          color: olivedrab;
          width: 60%;
          height: 322px;
}

#blockR 
{
          background-color: rgb(173, 20, 87);
          width: 40%;
          height: 322px;
          padding: 40px;
}

#photo
{

          height: 322px;

}

#photo:hover
{
          border: dotted olivedrab;
}

#footer
{
          background-color: rgb(120, 0, 46);
          color: white;
          padding: 5px;
          font-size: 150%;
}
tr , th{
          border: 2px olivedrab ;
}