* {
    font-family: Cambria;
}

header,
footer {
    background-color: #829EB9;
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
}

#first_middle_block,
#third_middle_block {
    background-color: #B3c6d9;
    height: 400px;
    width: 25%;
    padding-top: 100px;
    float: left;
}

#second_middle_block {
    background-color: #E0E9F1;
    height: 400px;
    width: 50%;
    text-align: center;
    padding-top: 100px;
    float: left;
}

#third_middle_block {
    padding: 0;
}

table,
th,
td {
    border-collapse: collapse;
    border: solid 1px dimgrey;
    margin: auto;
}

table {
    width: 80%;
}

td:hover {
    background-color: steelblue;
    color: white;
}

img {
    width: 100%;
    border-radius: 20px;
}